<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{{!-- Bootswatch link --}}
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>URL shortener</title>
</head>
<body>
    

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">URL shortener</a>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/list">Shortened URLs <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>

<br><br><br>

<div class="alert alert-dismissible alert-success" style="text-align:center; margin: 0 10%; padding:0; border:0;">
  {{message}} 
</div>

{{!-- input form --}}
<form style="width:70%; margin:0 auto;" method="POST" action="/" >
    <legend>Enter URL to shorten </legend>

    <div id="inputDiv">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault"></label>
        <input type="text" class="form-control" placeholder="URL (Invalid URLs will be ignored) " name="url">
    </div>
    </div>
        
    <button type="button" class="btn btn-secondary" onclick="addmore()">Add more</button>
    <br><br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<br><br><br>

<ul>
    {{#each msg}}
    <div style="text-align:center;">
        <b>{{this.original}}</b><br>
        is shortened as <br>
        <i><a href="{{this.short}}">{{this.short}}</a></i><br>
        {{!-- has been visited  --}}
        {{!-- {{this.visited}} times. --}}
    </div>
    <br><br>
    {{/each}}
</ul>


{{!-- Scripts --}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{!-- Make it a separate file --}}

<script>

function addmore()
{
    $('#inputDiv').append(`<div class="form-group">
        <label class="col-form-label" for="inputDefault"></label>
        <input type="text" class="form-control" placeholder="URL" name="url">
    </div>`)
}

</script>

</body>
</html>